body {
    margin: 0 auto;
    padding: 0;
    width: 990px;
    
}

.trac1 {
    background-color: orangered;
    margin-left: 10px;
    width: 100%;
}

.trac1 input {
    width: 300px;
    height: 30px;
    margin-left: 10px;
}

.trac1 select {
    height: 30px;
    background-color: yellow;
}

.trac2{
    margin: 10px;
}

.trac2 h2 {
    color: blue;
    
}

.trac3 table {
    border-collapse: collapse;
    background-color: orangered;
    font-size: large;
    font-weight: bold;
    width: 980px;
    margin-left: 10px;
    height: 200px;
}